@import '~bootstrap/scss/bootstrap.scss';

body {
    background: rgb(255, 255, 254);
    
}

// Aquí se modifica el contenedor de los componentes diferentes a Header

.menu {
    justify-content: space-between;
}

.sesion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// En esta sección se modifica el botón de menú

#menucollapse {
    position: absolute;
    z-index: 100;
    background: rgb(56, 51, 51);
}

// Diseño de la tabla de artesanos.
.table {
    color: black;
}

// Estilos del spiner de spinkit
.spinner {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background-color: rgb(255, 253, 253);
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }