@import '~bootstrap/scss/bootstrap.scss';

body {
    background: black;
    
}

// Aquí se modifica el contenedor de los componentes diferentes a Header

.menu {
    justify-content: space-between;
}

.sesion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// En esta sección se modifica el botón de menú

#menucollapse {
    position: absolute;
    z-index: 100;
    background: white;
}

// span.icon-bar {
//     width: 50px;
//     height: 50px;
//     color: red;
// }

